In [3]:
import pandas as pd
import numpy as np

In [2]:
#ser = pd.Series(data=None,index=None, dtype=None,name=None,copy=False,fastpath=False,)
#dat = pd.DataFrame(data=None, index=None, columns=None, dtype=None, copy=False)
#pan = pd.Panel(data=None,items=None,major_axis=None,minor_axis=None,copy=False,dtype=None,)

In [8]:
#series
arr = np.array([1,2,3,4])
arr1 = {'a':0, 'b':1, 'c':2, 'd':3}
ser = pd.Series(arr, index= [1,2,3,4])
ser1 = pd.Series(arr1)# dictionary
ser2 = pd.Series(5, index=[0,1,2,3,5])#scalar
print(ser, ser1, ser2)

1    1
2    2
3    3
4    4
dtype: int32 a    0
b    1
c    2
d    3
dtype: int64 0    5
1    5
2    5
3    5
5    5
dtype: int64

In [12]:
# dataframe

df = pd.DataFrame(arr)
df1 = pd.DataFrame(arr1, index=[0,1,2,3])
df2 = pd.DataFrame({'a':pd.Series([1,2,3]), 'b': pd.Series([4,5,6])})

print(df,">>>>>", df1,">>>>>>>>",df2)

   0
0  1
1  2
2  3
3  4 >>>>>    a  b  c  d
0  0  1  2  3
1  0  1  2  3
2  0  1  2  3
3  0  1  2  3 >>>>>>>>    a  b
0  1  4
1  2  5
2  3  6

In [28]:
# selection of column

data = pd.DataFrame({'one':pd.Series([1,2,3]), 'two': pd.Series([4,5,6]), 'three': pd.Series([4,5,6])})
print(data['three']) #column selection
data['four'] = data['one'] + data['two'] # column addition
del data['four'] # column deletion

data

0    4
1    5
2    6
Name: three, dtype: int64

   one  two  three
0    1    4      4
1    2    5      5
2    3    6      6

In [29]:
#row selection \ addition\ deletion

"""selection by lable # data.loc['one']"""
"""selection by integer # data.iloc[2]"""
"""both int and label #data.ix['a':4] """
#dataframe append

"""df = df.append(df1)"""

#deletion of rows

"""df = df.drop(0 or 1 or 5)"""

'df = df.drop(0 or 1 or 5)'

In [30]:
# panel 

arr2 = np.random.rand(0,22,2)
pan = pd.Panel(arr2)
pan

C:\Users\USER\Anaconda3\envs\intuitive-deep-learning\lib\site-packages\IPython\core\interactiveshell.py:3296: FutureWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  exec(code_obj, self.user_global_ns, self.user_ns)

<class 'pandas.core.panel.Panel'>
Dimensions: 0 (items) x 22 (major_axis) x 2 (minor_axis)
Items axis: None
Major_axis axis: 0 to 21
Minor_axis axis: 0 to 1

In [ ]:
# dataframe basic functionality

df. T # transpose
df.axes #
df.dtypes
df.empty
df.ndim
df.shape
df.size
df.values
df.head()
df.tail()
df.isnull()
df.notnull()

#dataframe statistics operations

df.sum()
df.mean()
df.std()
df.median()
df.count()
df.mode()
df.min()
df.max()
df.min()
df.abs()
df.prod()
df.cumsum()
df.cumprod()

#pandas ability to read

datafr = pd.read_excel()
datafr = pd.read_csv()
data = pd.read_clipboard()
dat = pd.read_feather()
dat = pd.read_fwf()
dat = pd.read_gbq()
dat = pd.read_hdf()
dat = pd.read_html()
dat = pd.read_json()
dat = pd.read_msgpack()
dat = pd.read_table()
dat = pd.read_stata()
dat = pd.read_sql_table()
dat = pd.read_sql_query()
dat = pd.read_sql()
dat = pd.read_pickle()
dat = pd.read_sas()
dt = pd.read_parquet()

In [36]:
#Merging & Joining

dataf1= pd.DataFrame({ "HPI":[80,90,70,60],"Int_Rate":[2,1,2,3],"IND_GDP":[50,45,45,67]}, index=[2001, 2002,2003,2004])
 
dataf2=pd.DataFrame({ "HPI":[80,90,70,100],"Int_Rate":[2,1,4,3],"IND_GDP":[50,45,45,67]}, index=[2005, 2006,2007,2008])
 
merged= pd.merge(dataf1,dataf2)
merged= pd.merge(dataf1,dataf2 , on = 'HPI')
print(merged)

# joining
df11 = pd.DataFrame({"Int_Rate":[2,1,2,3], "IND_GDP":[50,45,45,67]}, index=[2001, 2002,2003,2004])
 
df22 = pd.DataFrame({"Low_Tier_HPI":[50,45,67,34],"Unemployment":[1,3,5,6]}, index=[2001, 2003,2004,2004])
 
joined= df11.join(df22)
print(joined)

   HPI  Int_Rate_x  IND_GDP_x  Int_Rate_y  IND_GDP_y
0   80           2         50           2         50
1   90           1         45           1         45
2   70           2         45           4         45
      Int_Rate  IND_GDP  Low_Tier_HPI  Unemployment
2001         2       50          50.0           1.0
2002         1       45           NaN           NaN
2003         2       45          45.0           3.0
2004         3       67          67.0           5.0
2004         3       67          34.0           6.0

In [37]:
# Concatenation 

df111 = pd.DataFrame({"HPI":[80,90,70,60],"Int_Rate":[2,1,2,3], "IND_GDP":[50,45,45,67]}, index=[2001, 2002,2003,2004])
 
df222 = pd.DataFrame({"HPI":[80,90,70,60],"Int_Rate":[2,1,2,3],"IND_GDP":[50,45,45,67]}, index=[2005, 2006,2007,2008])
 
concat= pd.concat([df111,df222])
 
print(concat)

      HPI  Int_Rate  IND_GDP
2001   80         2       50
2002   90         1       45
2003   70         2       45
2004   60         3       67
2005   80         2       50
2006   90         1       45
2007   70         2       45
2008   60         3       67

In [41]:
#Change the index

df1111= pd.DataFrame({"Day":[1,2,3,4], "Visitors":[200, 100,230,300], "Bounce_Rate":[20,45,60,10]}) 
 
df1111.set_index("Visitors", inplace= True)
 
print(df1111)

          Day  Bounce_Rate
Visitors
200         1           20
100         2           45
230         3           60
300         4           10

In [ ]:
"""ENDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDD"""